@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat';
}
body {
    margin: 0 auto;
}

header.header {
    display: flex;
    align-items: center;
    background-color: aqua;
}


section.top-page {
    background: url('../images/background.jpg');
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

.landing-page {
    padding: 20px 50px;
}

.big-title {
    color: darkcyan;
    font-size: 80px;
   
}
nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 50mm;

}

nav.nav li {
    color: aliceblue;
}