@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat';
}
body {
    margin: 0 auto;
}

header.header {
    display: flex;
    align-items: center;
    background-color: aqua;
}


section.top-page {
    background: url('../images/background.jpg');
    background-size: cover;
    height: 80vh;
    padding: 45px;
}

.landing-page {
    padding: 20px 50px;
}

.big-title {
    color: darkcyan;
    font-size: 80px;
   
}

.scroll-down {
    color: aliceblue;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
    font-size: 25px
}


nav.nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 1400px;
    margin-left: 50mm;
    font-size: 25px;

}

nav.nav li {
    color: aliceblue;
}

.services{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    font-size: 40px;

}

.services-item {
    display: flex;
    font-weight: 600;
    text-align: center;
}